@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
html body {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

h4 {
    text-align: center;
}

hr {
    width: 40%;
    margin: auto;
}

#header {
    position: sticky;
    top: 0;
    background-color: green;
    border-bottom: 0.3125em solid green;
    text-align: center;
    z-index: 100;
}

#accroche {
    text-align: justify;
}

#showMenu {
    font-size: 1.5em;
    cursor: pointer;
}

#form1 input,
#form1 textarea {
    margin-top: 0.625em;
    margin-bottom: 0.625em;
}

#form1 {
    margin-bottom: 6.25em;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 99;
}

.overlay-content {
    position: relative;
    top: 7%;
    width: 100%;
    text-align: left;
    margin-top: 1.25em;
}

.overlay a {
    padding: 0.25em;
    text-decoration: none;
    font-size: 1.75em;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 1%;
    right: 2.8125em;
    font-size: 3.75em;
}

.container {
    margin-top: 0.9375em;
}

#head {
    margin-top: 2.5em;
}

.leftTableAbout {
    font-weight: bolder;
}

#pres {
    text-align: center;
}

#pfp {
    width: 70%;
    border: 0.125em solid green;
}

#name,
#date {
    font-weight: 900;
    font-size: 1.875em;
}

#date {
    font-size: 1.25em;
}

.table {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    vertical-align: middle;
    -moz-border-radius: 1.875em;
    border-radius: 1.875em;
    border: 0.125em solid green;
    border-collapse: separate;
}

#imgStu {
    vertical-align: middle;
}

#wrk,
#stu,
#skl {
    margin-top: 0.9375em;
    margin-bottom: 0.9375em;
    display: flex;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 1.25em
    }
    .overlay .closebtn {
        font-size: 2.5em;
        top: 0.9375em;
        right: 2.1875em;
    }
    #pfp {
        width: 40%;
    }
    #accroche {
        width: 100%;
    }
}